{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/About_Me.css' %}" />
    <title>🦁About Me</title>
</head>
<body>
    <div class="nav-bar">
        <img src="{% static 'images/Navigation Bar.svg' %}" alt="Navigation Bar"/>
    </div>

   <div class="menu">
    <img src="{% static 'images/Menu.svg' %}" alt="Menu"/>
    <img src="{% static 'images/image 2.svg' %}" alt="Image 2" class="image2"/>
    <img src="{% static 'images/Frame 13.svg' %}" alt="Menu Detail"/>
</div>

    <div class="detail">
        <img src="{% static 'images/Frame 12.svg' %}" alt="Detail"/>
    </div>

    <div class="Message">
        <img src="{% static 'images/Message + Send Time.svg' %}" alt="Message"/>
        <div id="dynamic"></div>

        <!-- 외부 자바스크립트 파일 연결 -->
        <script src="{% static 'js/About_Me.js' %}"></script>
    </div>
</body>
</html>
