@font-face {
    font-family: 'YiSunShinDotumM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #1c1c1c;
    font-family: "YiSunShinDotumM";
}

.nav-bar {
    position: relative; /* 자식 요소(menu, detail) 위치를 기준으로 설정 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.menu {
    position: absolute; /* 부모 요소(nav-bar)를 기준으로 위치 조정 */
    left: 20%; /* 화면 오른쪽에서 10% 떨어짐 */
    top: 58px; /* 화면 위쪽에서 50px 떨어짐 */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.detail {
    position: absolute;
    top: 39.3%; /* 값을 줄여서 더 위로 이동 */
    left: 70%;
    transform: translateX(-50%);
    width: 648px;
    height: 556px;
}

.Message {
    position: absolute;
    top: 160px; /* 값을 줄여서 더 위로 이동 */
    left: 58%;
    transform: translateX(-50%);
    width: 648px;
    height: 556px;

}

